* {
    font-family: Helvetica;
}

h1#title {
    font-size: 72px;
    font-weight: bold;
    color: khaki;
    background-image: url("../images/pattern.jpeg");
    text-align: center;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

@media (max-width: 1200px) { h1#title {font-size: 60px;} }
@media (max-width: 800px) { h1#title {font-size: 48px;} }

h2.subtitle {
   font-size: 36px;
   font-weight: bold;
   color: white;
}

h3 { font-size: 24px;}

img {
    margin-bottom: 20px;
}

.column1of2 {
    float: left;
}

.column2of2 {
    float: left;
    width: 600px;
    margin-left: 20px;
}

.clear {
    clear: left;
}

.bluebold {
    font-weight: bold;
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}
